<a href="https://colab.research.google.com/github/tim530712345/AI_-20210602/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
# DataFrame: 表格 ，Series: 一行/一列
df = pd.DataFrame(iris['data'],columns=iris['feature_names'])
df['ans']=iris['target']
df.to_csv('iris.csv', encoding='utf-8',index=False)
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  ans
0                  5.1               3.5  ...               0.2    0
1                  4.9               3.0  ...               0.2    0
2                  4.7               3.2  ...               0.2    0
3                  4.6               3.1  ...               0.2    0
4                  5.0               3.6  ...               0.2    0
..                 ...               ...  ...               ...  ...
145                6.7               3.0  ...               2.3    2
146                6.3               2.5  ...               1.9    2
147                6.5               3.0  ...               2.0    2
148                6.2               3.4  ...               2.3    2
149                5.9               3.0  ...               1.8    2

[150 rows x 5 columns]

In [ ]:
# df的語法 是呈現新的表格 不會影響原來的df
df.drop(['ans',axis=1])

In [32]:
# sklearn 前: pandas.DataFrame
# sklearn 後: np.array

import numpy as np
from sklearn.model_selection import train_test_split

# axis=0 列 axis=1 欄
x , y = np.array(df.drop(['ans'], axis=1), np.array(df['ans'])

# 分割成 90% x, 10% x, 90% y, 10% y 
x_train, x_test, y_train, y_test = train_test_split(x, 
                            y, 
                            test_size = 0.1)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

SyntaxError: ignored

In [27]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)

NameError: ignored

In [21]:
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree
plt.figure(figsize=(10,10))
plot_tree(clf,
      feature_name=iris['feature_name'],
      class_name=iris['target_name'],
      filled=True
      )

# gini 猜錯機率
# gini=0 信心程度最高 停止分類

KeyError: ignored

# markdown 語法
# latex math 語法